
{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&family=Lato&family=Open+Sans&display=swap" rel="stylesheet">

{% endblock %}

{% block stylesheets %}
    <style>
        .form-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full height of viewport */
        }

        .form-wrapper .well {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            border-radius: 8px;
        }

        #footer {
            background-color:black;
            text-color:white;
            text-align:center;
        }
    </style>

{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {#
        This references the Stimulus controller defined in
        "assets/controllers/login-controller.js".
        See https://symfony.com/bundles/StimulusBundle/current/index.html
        More info on Symfony UX https://ux.symfony.com
    #}
    <div class="form-wrapper">
        <form action="{{ path('security_login') }}" method="post">
            <fieldset>
                <legend><twig:ux:icon name="tabler:lock"/> {{ 'title.login'|trans }}</legend>
                <div class="form-group">
                    <label for="username">{{ 'label.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" {{ stimulus_target('login', 'username') }} />
                </div>

                <div class="form-group form-group-password">
                    <label for="password">{{ 'label.password'|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control" {{ stimulus_target('login', 'password') }} />
                    <button class="btn btn-primary pull-right" type="button" {{ stimulus_action('login', 'togglePasswordInputType') }}><twig:ux:icon name="tabler:eye" aria-hidden="false" aria-label="Toggle password visibility"/></button>
                </div>

                <div class="form-group">
                    <label>
                        <input type="checkbox" name="_remember_me" checked/>
                        {{ 'label.remember_me'|trans }}
                    </label>
                </div>
                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit" class="btn btn-primary">
                    <twig:ux:icon name="tabler:login"/> {{ 'action.sign_in'|trans }}
                </button>
            </fieldset>
        </form>
    </div>
    
{% endblock %}
